html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #e69500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px; /* optional: to avoid content touching the edges */
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  text-align: left; /* left-justify the text */
}

.content {
  margin-bottom: 20px;
}

p {
  font-family: "Andale Mono", "FreeMono", monospace;
  color: #ffdb99;
  font-size: 22px; /* base font size */
  margin-bottom: 10px;
  transition: font-size 0.3s ease; /* added transition */
}

.icons {
  display: flex;
  justify-content: center; /* center the icons */
  margin-top: 20px;
}

a {
  text-decoration: none;
  margin: 0 10px; /* spacing between icons */
}

.bi {
  font-size: 24px; /* base icon size */
  color: #ffdb99;
  transition: font-size 0.3s ease; /* added transition */
}

/* Media Queries for different screen sizes */
@media (max-width: 1200px) {
  p {
    font-size: 20px;
  }
  .bi {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  p {
    font-size: 18px;
  }
  .bi {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 16px;
  }
  .bi {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  p {
    font-size: 14px;
  }
  .bi {
    font-size: 14px;
  }
}
