html,
body {
  height: 100%;
}

html {
  display: table;
  width: 100%;
}

body {
  background-color: #e69500;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

p {
  font-family: "Andale Mono", "FreeMono", monospace;
  color: #ffdb99;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 10px;
}

a {
  color: #ffdb99;
  text-decoration: none;
  margin: 0 5px;
}

.fa-brands {
  font-size: 3.5vw;
}
